    /*! Kontaktformulär */
    .contact__form {
        width: 60%;
        height: 20rem;
        min-width: 500px;
        max-height: 600px;
        min-height: 450px;
        border-radius: 5px;
        box-shadow: 1px 1px 4.5px rgba(0, 0, 0, .4);
        background-color: #FEFEFE;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 2rem 6rem;
        font-size: 1.5rem;

        /*! Ändrar storlek på formulär i mindre skärmar */
        @media screen and (max-width: 560px) {
            min-width: 450px;
        }
        @media screen and (max-width: 560px) {
            min-width: 450px;
        }

        @media screen and (max-width: 460px) {
            width: 90%;
            padding: 3rem 6rem;
            min-width: 350px;
        }

        @media screen and (max-width: 350px) {
            min-width: 300px;
            padding: 3rem 4rem;
        }

        /*! Stil för labels och inputs */
        &Namelab,
        &Maillab,
        &Msglab {
            margin-bottom: .5rem;
            text-transform: uppercase;
        }

        &Nameinput,
        &Mailinput,
        &Msginput {
            border: none;
            border-bottom: 2px solid rgba(0, 0, 0, 0.445);
            width: 100%;
            padding: 1rem;
            font-family: inherit;
            font-size: 1.8rem;
            margin-bottom: 2rem;
            transition: all .6s;
        }

        &Nameinput:focus,
        &Mailinput:focus,
        &Msginput:focus {
            outline: none;
            border-bottom: 2px solid teal;
        }

        /*! Stil för knappen */
        &Submit {
            margin-top: 3rem;
            cursor: pointer;
            border: 2px solid transparent;
            border-radius: 5px;
            padding: 1.5rem 3.5rem;
            width: 100%;
            font-family: inherit;
            font-size: 1.7rem;
            color: #FEFEFE;
            background-color: teal;
            transition: all .3s;
        }

        &Submit:hover {
            background-color: #FEFEFE;
            color: teal;
            border: 2px solid teal;
            /*! Gör den lite större i hover-läge */
            transform: scale(1.05);
        }
    }